@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #010f1c;
    --foreground: #00ff11;

    --primary: #fdfe03;
    --primary-foreground: #1b78e3;

    --secondary: #cccfd2;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --border: #38434d;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;
    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --border: #38434d;
  }
}

@layer base {
  p {
    @apply text-base  font-medium;
  }
  .h1 {
    @apply text-3xl sm:text-4xl lg:text-[55px];
  }
  .h2 {
    @apply text-[28px] sm:text-4xl lg:text-[50px] lg:leading-[65.16px] font-display;
  }
  .h3 {
    @apply text-[1.375rem];
  }
  body,
  p,
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    line-height: 1 !important;
  }
}

.bd {
  border: 1px solid red;
}
.more-selected {
  transform: translateX(-50px);
  /* Adjust the -50px value as needed to ensure it doesn't overflow */
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fast-spin {
  0% {
    transform: rotate(0deg) scale(1);
  }

  50% {
    transform: rotate(180deg) scale(0.8);
  }
  100% {
    transform: rotate(360deg) scale(1);
  }
}
.rotate {
  animation: rotate 3s infinite linear;
  transform-origin: center;
}

.AtScrollHide::-webkit-scrollbar {
  display: none !important;
}

.AtScrollHide {
  -ms-overflow-style: none !important;
  /* IE and Edge */
  scrollbar-width: none !important;
  /* Firefox */
}

.bg {
  background-image: url("/assets/images/BG.svg");
}
.connect-button {
  background-color: yellow !important;
  width: 160px;
  height: 50px;
  padding: 10px 50px;
  box-sizing: border-box;
  font-weight: bold;
  border-radius: 30px;
}
/* .AtCounter {
  animation: fadeIn 0.1s ease-in-out;
} */

@keyframes fadeIn {
  from {
    opacity: 0.9;
  }
  to {
    opacity: 1;
  }
}
.AtCenterImg{
  margin-top: -28px;
  margin-left: -28px;
}

@keyframes blink {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.animate-blink {
  animation: blink 1.4s infinite both;
}

.delay-0 {
  animation-delay: 0s;
}

.delay-200 {
  animation-delay: 0.2s;
}

.delay-400 {
  animation-delay: 0.4s;
}

